header{
    
    min-height: 110px;
    color: black;
}
a{
    font-weight: bold;
}
img{
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.active{
    color:#0c7cec ;
    border-bottom: 10px solid #0c7cec;
}