img {
    width: 45px;
}

h3 {
    padding: 20px 10px;
    background-color: #0c7cec;
    color: white;
    /* position: relative;
    left: 0;
    top: 0; */

}

.comicimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    /* Ritaglia l'immagine per riempire lo spazio */
    object-position: top;
}

.banner {
    background-image: url(../assets/img/jumbotron.jpg);
    /* position: absolute; */
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;

}
.prezzo{
    text-align: center;
    color: white;
    
}