*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans ;
}
a{
    text-decoration: none;
    display: inline-block;
    color: black;
    
}
ul{
    list-style: none;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.d-flex{
    display: flex;
}
.jc-between{
    justify-content: space-between;
}
.aling-items-center{
    align-items: center;
}
.gap{
    gap: 50px;
}
.gap-10{
    gap: 10px;
}
.bg-dark{
    background-color: black;
    min-height: 100px;
}
.bg-blue{
    background-color: #0c7cec;
}
.text-white{
    color: white;
}
.position{
    width: 34px;
}
/* DEBUG */
.h{
    min-height: 100px;
}